<span>Algorithm Visualization</span>
<div class="tabs-container">
    <app-nav-bar-tab [icon]="'fas fa-sort-numeric-up-alt'" [title]="'Sort Algorithm'" [tabPosition]="0" [selectedTab]="selectedTab" (tabClicked)="tabClicked($event)"></app-nav-bar-tab>
    <app-nav-bar-tab [icon]="'fas fa-project-diagram'" [title]="'Graph Search'" [tabPosition]="1" [selectedTab]="selectedTab" (tabClicked)="tabClicked($event)"></app-nav-bar-tab>
    <app-nav-bar-tab [icon]="'fas fa-route'" [title]="'Shortest Path'" [tabPosition]="2" [selectedTab]="selectedTab" (tabClicked)="tabClicked($event)"></app-nav-bar-tab>
</div>
